<nav>
    <img src="/svg/devsuzarte-logo.svg" alt="devsuzarte's logo" width="150px" height="50px" loading="eager">
    <ul class="nav-sections">
        <li><a href="#">About</a></li>
        <li><a href="#Projects">Projects</a></li>
        <li><a href="#Academics">Academics</a></li>
        <li><a href="#Contacts">Contact</a></li>
    </ul>
    <ul class="nav-social">
        <li>
            <a href="https://www.linkedin.com/in/benjamin-suzarte/" target="_blank">
                <img src="/svg/linkedin.svg" alt="LinkedIn">
            </a>
        </li>
        <li>
            <a href="https://github.com/devsuzarte" target="_blank">
                <img src="/svg/github.svg" alt="Github">
            </a>
        </li>
    </ul>
    <section></section>
</nav>
