<section class="about-section">
    <section class="picture-section">
        <img src="/images/devsuzarte-picture.png" alt="Devsuzarte Picture" width="270px" height="270px" loading="eager">
    </section>
    <section class="info-section">
        <section class="text-section">
            <h1>< I'm <span class="role">FULLSTACK</span> / DEVELOPER _</h1>
            <h2>Who’d like to leverage 3 years of knowledge as Computer Scientist and Software’s Developer in the job market, specializing in backend development. Currently, I’m working on my own projects and freelancing.</h2>
        </section>
        <section class="button-section">
            <a href="/" class="contact-link"><button class="contact-button">CONTACT</button></a>
            <a href="/pdf/devsuzarte-cv-english.pdf" class="curriculum-link" download><button class="curriculum-button">DOWNLOAD CV</button></a>
        </section>
    </section>
</section>
